* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    background-color: #223;
}

.card {
    width: 100%;
    max-width: 20rem;
    background: linear-gradient(-179deg, #00feba, #5b548a);
    color: #fff;
    margin: 4rem auto 0;
    border-radius: 1.2rem;
    padding: 2rem 2rem;
    text-align: center;
    max-height: 92vh;
    border: 2px solid rgb(132, 146, 153);
    height: 90rem;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border-radius: 1rem;
    outline: none;
    border: none;
    color: #555;
    height: 6vh;
    flex: 1;
    padding: 0.2rem 1rem;
    margin-right: 0.9rem;
    font-size: 1.1rem;
}

.search button {
    border-radius: 40%;
    border: none;
    outline: none;
    background: #ebfffc;
    height: 2.4rem;
    width: 2.4rem;
    cursor: pointer;
}

.search img {
    height: 1.1rem;
    width: 1.2rem;
    margin-bottom: -0.3rem;
    margin-left: -0.1rem;
}

.weather .weather-icon {
    width: 50%;
    margin-top: 0.5rem;
}

.weather h1 {
    font-size: 3.2rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
}

.weather h2 {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
    margin-top: 0.2rem;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -18rem;
}

.details .col {
    margin: 2rem -0.1rem;
    margin-bottom: -0.6rem;
    display: flex;
}

.col img {
    width: 2rem;
    height: 1.8rem;
}

.col .hum,
.wind {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -0.5rem;
    margin-left: 0.7rem;
}

.col .mea {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.6rem;
}

.col #win {
    margin-left: 0.9rem;
}

.error h4 {
    font-size: 1.4rem;
    color: rgb(205, 85, 85);
    margin-top: 0.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
}

.emp h4 {
    font-size: 1.4rem;
    color: rgb(219, 86, 86);
    margin-top: 0.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
}

.err {
    animation: shake 0.1s linear 10;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}

@media ((max-height:950px) and (max-width:413px)) {
    body {
        max-height: 40vh;
    }

    .card {
        margin-top: 1rem;
        height: 96vh;
        margin-bottom: -2rem;
    }

    .weather .weather-icon {
        margin-top: 2rem;
        width: 60%;
    }

    .weather h1 {
        font-size: 3.4rem;
    }

    .weather h2 {
        font-size: 2.3rem;
        margin-top: 0.2rem;
    }

    .col img {
        width: 2.4rem;
        height: 2.3rem;
        margin-left: 2rem;
    }

    .col {
        flex-direction: column;
    }

    .col .hum,
    .wind {
        font-size: 1.7rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    .col .hum {
        margin-left: 1.4rem;
    }

    .col #hu {
        margin-right: -1rem;
    }

    .col #win {
        margin-left: 0.5rem;
    }

    .col #wi {
        margin-left: 2.9rem;
    }

    .col .mea {
        font-size: 1.11rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 0.9rem;
    }

    .details {
        margin-top: 5rem;
        padding-bottom: -9rem;
        margin-bottom: 3rem;
    }

    .search button {
        height: 6vh;
        width: 6vh;
        padding-right: -1.2rem;
    }

    .search img {
        height: 1.6rem;
        width: 1.6rem;
        margin-bottom: -0.3rem;
        margin-right: -3rem;
    }

    .search input {
        padding: 0.2rem 1.4rem;
        margin-right: -4.4rem;
        width: 80vw;
        margin-left: -1rem;
    }
}

@media ((max-height:950px) and (max-width:307px)) {
    html {
        font-size: 80%;
    }
}

@media (max-width:1112px) and (max-height:950px) {
    .card {
        width: 100%;
        height: 80%;
    }
}

@media (max-width:1728px) {
    .newcard {
        width: 90%;
        height: 120vh;
        margin: 3rem auto;
        max-width: 70rem;
    }

    .weather .weather-icon {
        width: 25rem;
        height: 17rem;
    }

    .weather h1 {
        font-size: 4.4rem;
    }

    .weather h2 {
        font-size: 2.6rem;
        margin-top: 0.2rem;
    }

    .col img {
        width: 4.4rem;
        height: 4.3rem;
        margin-left: 2rem;
    }

    .col {
        flex-direction: column;
    }

    .col .hum,
    .wind {
        font-size: 2.7rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    .col .hum {
        margin-left: 1.4rem;
    }

    .col #hu {
        margin-right: -1rem;
        font-size: 2rem;
    }

    .col #win {
        margin-left: -0.5rem;
        font-size: 2rem;
    }

    .col #wi {
        margin-left: 0.9rem;
    }

    .col .mea {
        font-size: 1.11rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 0.9rem;
    }

    .details {
        margin-top: 5rem;
        padding-bottom: -9rem;
        margin-bottom: 3rem;
    }

    .search button {
        height: 6vh;
        width: 6vh;
        padding-right: -1.2rem;
    }

    .search img {
        height: 1.6rem;
        width: 1.6rem;
        margin-bottom: -0.3rem;
        margin-right: -1rem;
    }

    .search {
        margin-left: 0.4rem;
    }

    .search input {
        padding: 0.2rem 1.4rem;
        margin-right: -4.4rem;
        width: 80vw;
        margin-left: -1rem;
        font-size: 2rem;
    }
}

@media (max-width:650px) {

    .col .hum,
    .wind {
        font-size: 190%;
    }

    .col #hu,
    .col #win {
        font-size: 150%;
    }

    .col img {
        width: 3.4rem;
        height: 3.3rem;
        margin-left: 2rem;
    }

    .col #wi {
        margin-left: 3.6rem;
    }
}

@media (max-width:446px) {
    .newcard {
        margin-left: 1.5rem;
    }

    .weather .weather-icon {
        width: 14rem;
        height: 11rem;
    }

    .search {
        margin-left: 0.8rem;
    }

    .search input {
        font-size: 1.7rem;
    }

    html {
        font-size: 80%;
    }
}

@media (max-width:372px) {

    .col .hum,
    .wind {
        font-size: 170%;
    }

    .col #hu,
    .col #win {
        font-size: 123%;
    }

    .newcard {
        margin-left: 1.2rem;
    }

    .a {
        padding-left: -1rem;
    }
}

@media (max-height:1728px) {
    .card {
        height: 130vh;
        margin-top: 4rem;
        margin-bottom: -6rem;
        margin-left: 1.6rem;
        height: 80vh;
    }

    .col .hum,
    .wind {
        font-size: 170%;
    }

    .col #hu,
    .col #win {
        font-size: 123%;
    }

    .col #wi {
        margin-left: 0.9rem;
    }

    .col #win {
        margin-left: -1.2rem;
    }

    .col .hum {
        margin-left: 2.3rem;
    }

    .search {
        margin-left: 0.3rem;
    }

    .details {
        margin-bottom: -3rem;
    }

}

@media (max-width:1440px) {
    .newcard {
        margin-top: -2rem;
        height: 180vh;
        margin: 1.3rem auto;
    }

    .search img {
        width: 1rem;
        height: 1rem;
        margin-bottom: -0.3rem;
        margin-right: -3rem;
    }

    .search {
        margin-left: -0.2rem;
        border-radius: 0.1rem;
    }

    .search input {
        padding: 0.2rem 1.4rem;
        margin-right: -4.4rem;
        width: 80vw;
        margin-left: -1rem;
        font-size: 1.4rem;
    }

    .weather .weather-icon {
        width: 22rem;
        height: 13rem;
    }

    .col .hum,
    .wind {
        font-size: 170%;
    }

    .col #hu,
    .col #win {
        font-size: 130%;
    }

    .col #wi {
        margin-left: 1.9rem;
    }

    .col #win {
        margin-left: 0.7rem;
    }

    .col .hum {
        margin-left: 1.7rem;
    }

    .col img {
        width: 5.4rem;
        height: 3.3rem;
        margin-left: 2rem;
    }

    .weather h1 {
        font-size: 4rem;
    }

    .weather h2 {
        font-size: 2.5rem;
    }

    .details {
        margin-top: 3rem;
        padding: 0 5rem;
        margin-bottom: 22rem;
    }

    html {
        font-size: 80%;
    }
}

@media (max-width:1024px) {
    .newcard {
        height: 160vh;
        margin: 1rem auto;
    }

    .search {
        width: 98%;
        margin: 0 auto;
        margin-left: -0.007rem;
        margin-top: -1rem;
    }

    .weather .weather-icon {
        width: 26rem;
        height: 14rem;
    }

    .details {
        margin-top: 2rem;
    }

    html {
        font-size: 120%;
    }
}

@media (max-width:414px) and (max-height:914px) {
    .weather .weather-icon {
        width: 17rem;
        height: 14rem;
    }

    html {
        font-size: 200%;
    }

    .search img {
        width: 2.4rem;
        height: 2.4rem;
        margin-bottom: -0.3rem;
        margin-right: -5rem;
    }

    .search {
        margin-left: -1.01rem;
        border-radius: 0.1rem;
    }

    .search input {
        padding: 0.2rem 1.4rem;
        margin-right: -8rem;
        width: 80vw;
        margin-left: 0rem;
        font-size: 1.4rem;
    }

    .col .hum,
    .wind {
        font-size: 180%;
    }

    .col #hu,
    .col #win {
        font-size: 130%;
    }

    .col #wi {
        margin-left: 2.9rem;
    }

    .col #win {
        margin-left: 0.7rem;
    }

    .col .hum {
        margin-left: 0.3rem;
    }

    .col img {
        width: 3.4rem;
        height: 3.3rem;
        margin-left: 1rem;
    }

    .weather h1 {
        font-size: 5rem;
    }

    .weather h2 {
        font-size: 3rem;
    }

    .details {
        margin-top: 9rem;
        padding: 0 1rem;
    }

    .col #hu {
        margin-left: -0.4rem;
    }

    .newcard {
        margin-top: 2rem;
        height: 120vh;
    }
}

@media (max-width:429px) {
    html {
        font-size: 90%;
    }

    .details {
        padding: 0 1rem;
    }

    .search {
        margin-left: -2rem;
        padding: 0 1rem
    }


    .search input {
        padding: 0.2rem 1.4rem;
        margin-right: -8rem;
        width: 80vw;
        margin-left: 0rem;
        font-size: 1.4rem;
    }

    .search img {
        margin-left: 2rem;
        width: 1.4rem;
        height: 1.4rem;
    }

    .weather .weather-icon {
        width: 19rem;
        height: 16rem;
    }

}

@media (max-width:370px) {
    .search img {
        width: 1.3rem;
        height: 1.3rem;
        margin-right: -5.7rem;
    }

    html {
        font-size: 80%;
    }

    .search {
        margin-right: -0.7rem;
    }
}

/* Code By - Datta Kale  */